# config
/config/jei/world/
/config/blockswap/known_states/
/config/inventoryprofilesnext/*
!config/inventoryprofilesnext/inventoryprofiles.json
/config/voicechat/username-cache.json
/config/voicechat-volumes.properties
/config/Obscuria/Data/
/config/indium-renderer.properties
/config/xaerominimap_entities.json
/config/fabric/indigo-renderer.properties
/config/spark/activity.json
# /kubejs/config/client.properties
# /kubejs/config/common.properties

# mods
/mods/.connector/
/mods/.index/

# root folders
/not-enough-crashes/
/crash-reports/
/screenshots/
/saves/
/logs/
/debug/
/data/
/local/
/patchouli_books/
/schematics/
/XaeroWorldMap/
/XaeroWaypoints*/
/modernfix/
/showdown/

# root files
/knownkeys.txt
/options.txt
/realms_persistence.json
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json
/patchouli_data.json
/o_prof
/enigmatic_persistence.dat
/reauth.toml
/servers.dat
/rhino.local.properties
/seamless.txt
/fabricloader.log

# launcher-related
/.curseclient
/icon.png
/server-resource-packs/
/coremods/
/texturepacks/
/minecraftinstance.json
